<template>
  <nuxt />
</template>

<style>
html {
  font-family: monospace, monospace;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  background: #000;
  color: #FFF;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}
</style>
